@use '../abstract/variables';
@use '../abstract/mixins';

.cards {
	overflow-y: scroll;
	max-height: 500px;
	padding-right: 20px;
  --sb-track-color: #232E33;
  --sb-thumb-color: #6BAF8D;
  --sb-size: 14px;

	.card {
		@include mixins.flex-dir-alg-jus(row, center, initial);
		gap: 1rem;
		border: 1px solid;
		padding: 0.5rem;
		border-radius: 10px;
    max-width: 600px;
		margin-bottom: 1rem;
		background-color: variables.$white;

		img {
			width: 200px;
			height: 130px;
			border-radius: 5px;
		}

    .info {
			@include mixins.flex-dir-alg-jus(column, initial,space-between);
			gap: 0.5rem;
    }

		h3 {
			@include mixins.fs-ff-cl(2rem, $cl: variables.$dark-font);
			font-weight: 600;
		}
	
		p {
			@include mixins.fs-ff-cl(1.1rem, $cl: variables.$dark-font);
			line-height: 24px;
		}

		a {
			@include mixins.fs-ff-cl(1.1rem, $cl: variables.$dark-font);
			font-weight: 600;
		}
	}
}


.cards::-webkit-scrollbar {
  width: 14px;
}

.cards::-webkit-scrollbar-track {
  background: variables.$secondary-color;
  border-radius: 3px;
}

.cards::-webkit-scrollbar-thumb {
  background: variables.$dark-blue;
  border-radius: 3px;
}