@use '../abstract/mixins';
@use '../abstract/variables';

footer {

  text-align: center;
  margin-top: 1rem;

  a {
    @include mixins.fs-ff-cl(1rem ,$cl: variables.$dark-blue);
    text-decoration: none;
    
  }
}