@use '../abstract/mixins';
@use '../abstract/variables';

.search {
  @include mixins.flex-dir-alg-jus(column, center, center);
  gap: 1.5rem;
  margin: 4rem 0 2rem;

  h2 {
    @include mixins.fs-ff-cl(2rem);
    text-align: center;
    font-weight: 600;
    max-width: 600px;
  }

  input {
    outline: none;
    height: 20px;
    width: 80vw;
    max-width: 450px;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 15px;

    &::placeholder {
      text-align: center;
    }
  }

  button {
    background-color: variables.$dark-blue;
    @include mixins.fs-ff-cl($cl: variables.$white);
    border: 1px solid variables.$white;
    border-radius: 15px;
    width: 120px;
    height: 35px;
  }
}