@use '../abstract/mixins';
@use '../abstract/variables';

header {
  @include mixins.flex-dir-alg-jus(row, flex-end, center);
  gap: 2rem;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-top: 3rem;
  
  h1 {
    @include mixins.fs-ff-cl(2.2rem);
    font-weight: 600;
  }

  img {
    vertical-align: baseline;
  }
}