// Colors
  $primary-color: #D6AA58;
  $secondary-color: #A9CDD4;
  $background-color: #E1EBF0;
  $gradient: linear-gradient(180deg, rgba(169,205,212,1) 5%, rgba(255,255,255,1) 100%);
  $white: #FFFFFF;
  $dark-blue: #477A91;
  $dark-font: #181818